#main {
    padding: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    transform: scale(1.4);
    box-shadow: 0 0 1rem .1rem;
}

* {
    font-family: arial;
}

html {
    height: 100vh;
}

body {
    background: #ffffff;
    background: linear-gradient(164deg, rgba(255, 255, 255, 1) 0%, rgba(147, 87, 199, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: grid;
    place-content: center;
    place-items: center;
    height: 99vh;
}

button {
    display: block;
    margin: 1rem auto;
    background-color: rgb(42, 22, 47);
    color: white;
    border: white solid .1rem;
    padding: .6rem;
    border-radius: .5rem;
}

button:active {
    background-color: rgb(32, 17, 36);
}

input {
    background-color: rgb(39, 39, 39);
    border: white solid .2rem;
    border-radius: .5rem;
    padding: .5rem;
    color: white;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    /* letter-spacing: .1rem; */
}